@import "tailwindcss";

@keyframes neonShift {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }
  
  .animated-gradient {
    background: linear-gradient(60deg, #4f46e5, #9333ea, #14b8a6, #6366f1);
    background-size: 500% 500%;
    animation: neonShift 18s linear infinite;
  }
  
  @keyframes gradient-x {
  0%,
  100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}
